#	SILEX

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

#	GZIP

<ifModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/css text/javascript
</ifModule>

#	CACHE CONTROL

<ifModule mod_headers.c>
	<FilesMatch "\.(js|css)$">
		Header set Cache-Control "max-age=600, must-revalidate"
	</FilesMatch>
</ifModule>