#controls-cont {
    height: 40px;
    background: #121212;
    margin-bottom: 5px;
    padding: 0 10px;

    .heading {
        line-height: 40px;
    }

    .interactions {
        display: none;

        i.fa {
            float: left;
            font-size: 2em;
            line-height: 40px;
            margin-right: 15px;
        }

        .pause-btn {
            width: 23px;
        }

        .shuffle-btn {
            opacity: 0.3;

            &.active {
                opacity: 1;
            }
        }

        .seek-slider {
            float: left;
            width: 800px;
            height: 22px;
            margin-top: 9px;
        }

        .current-time-disp {
            float: left;
            width: 80px;
            display: inline-block;
            margin: 0 10px;
            text-align: center;
            line-height: 40px;
        }

        .volume-slider {
            float: left;
            width: 80px;
            height: 22px;
            margin-top: 9px;
        }

        .volume-btn {
            margin-left: 15px;
        }
    }
}

#tracks-cont {
    border-collapse: collapse;
    width: 100%;

    tr {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #444;
        cursor: default;

        &.active {
            background: #171D5E;
        }
    }

    td, th {
        text-align: left;
        padding: 0 10px;
    }

    th {
        color: #888;
        text-transform: uppercase;
        font-size: 11px;
    }

    td.empty {
        text-align: center;
    }
}